// RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #FAFAFA;
  font-family: 'Noto Sans', sans-serif; 
} 

// TYPOGRAPHY
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
h1 {
  font: normal normal bold 43px/55px Noto Sans;
  letter-spacing: 0px;
  color: #041F38;
  margin-bottom: 36px;
}
h2 {
  font: normal normal bold 48px/58px Noto Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
}
h3 {
  font: normal normal bold 32px/40px Noto Sans;
  letter-spacing: 0px;
  color: #3D3D3D;
}
p {
  font: normal normal 600 18px/24px Noto Sans;
  letter-spacing: 0px;
  color: #3D3D3D;
  
  &.lead {
    font: normal normal 600 18px/24px Noto Sans;
    letter-spacing: 0px;
    color: #3D3D3D;
    margin-bottom: 36px;
  }
}

// UTILITY CLASSES
.container {
  width: 66.666%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  background-color: #107DE1; 
  color: #FCFCFC;
  font: normal normal 600 16px/22px Noto Sans;
  padding: 8px 22px;
  border: 0;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}
.link {
  font: normal normal 600 16px/22px Noto Sans;
  letter-spacing: 0px;
  color: #107DE1;
  text-decoration: none;
  padding: 8px 22px;
}


// MAIN HEADER
.main-header {
  padding: 22px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &--icon {
    img {
      height: 75px;
    }
  }

  // MAIN HEADER NAVIGATION
  &--nav {
    display: flex;
    align-items: center;

    ul {
      list-style: none;
      display: flex;
    }

    li {
      padding-right: 16px; 
    }

    a {
      text-decoration: none;
      color: #041F38;
      font: normal normal 600 16px/22px Noto Sans;
      padding: 8px 0;

      &.active {
        border-bottom: 2px solid #041F38;
      }
    }
  }

  // MAIN HEADER CALL TO ACTION
  &--cta {
    padding-left: 12px;
  }
}


// MAIN SECTION
.main-section {
  &--background {
    position: absolute;
    z-index: -1;
    min-height: 500px;
  }

  .container {
    min-height: 1400px;
    position: relative;
  }
}

// HERO
.hero {
  display: flex;
  min-height: 500px;
  margin-bottom: 170px;

  &--left {
    width: 50%;
    margin-right: 30%;
    margin-top: 150px;
  }

  &--content-cta {
    display: flex;
    align-items: center;

    button {
      margin-right: 30px;
    }
  }

  &--right {
    width: 50%;
    position: relative;

    .card-1 {
      position: absolute;
      top: 0;
      right: 0;
    }

    .card-2 {
      position: absolute;
      bottom: -65px;
      left: -50%;
    }

    .slider-buttons {
      position: absolute;
      display: flex;
      bottom: -65px;
      right: 40%;

      & > div {
        &:not(:last-child) {
          margin-right: 13px;
        }
      }
    }

    .slider-button--one,
    .slider-button--two {
      height: 13px;
      width: 13px;
      border-radius: 50%;
      background-color: #3D3D3D;
      opacity: .2; 

      &:hover {
        cursor: pointer
      }

      &.active {
        background-color: #107DE1;
        opacity: 1;
      }
    }
  }
}


// BODY SECTION
.body-section {
  display: flex;

  &--left {
    width: 50%;
    position: relative;

    img {
      position: absolute;
      left: -85px;
      z-index: -1;
    }
    
    h2 {
      position: absolute;
      left: 80px;
      top: 195px;
    }
  }
  &--right {
    width: 50%;


  }
}
//  FORM
.form {
  margin: 0 auto;
  // height: 750px;
  margin: 0 35px;
  padding: 35px;
  background-color: #fff;
  box-shadow: 0px 10px 40px #0000000D;
  border-radius: 20px;

  &--description {
    max-height: 85px; 
    display: flex;
    margin-top: 16px;
    
    &-content {
      overflow-y: scroll;
    }

    &-paragraph {
      font: normal normal 16px/23px Noto Sans;
    }
    
    &-buttons {
      margin-left: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 8px;

      &-1,
      &-2 {
        height: 13px;
        width: 13px;
        border-radius: 50%;
        border: 2px solid #3D3D3D;
  
        &:hover {
          cursor: pointer
        }
  
        &.active {
          border-color: #107DE1;;
          background-color: #107DE1;
          opacity: 1;
        }
      }
    }
  }

  input {
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #3D3D3D;
    color: #3D3D3D;
    padding: 8px 0;
    font-size: 18px;
    margin: 28px 0 60px;
    
    &[type=submit] {
      color: #fff;
      border: 0;
      padding: 26px 0;
      margin-bottom: 16px;
    }
  }
  
  &--tos {
    font-size: 16px;
    opacity: .5;
    a {
      color: #3D3D3D;
      
    }
  }
}
// GALLERY SECTION
// .gallery-section {

// }